.core{
    color: #39FF14;
}
.fit{
    color: #FFFFFF;
}
.Slidebutton{
    background-color: #39FF14 !important;
    color: #FFFFFF !important;
    border: none !important;
}
.Slidebutton:hover{
    background-color: #228B22 !important;

}
form p{
    color: red;
    padding: 0px 10px;
}
aside{
  text-align: center;
  border-right: 1px solid lightgrey;
  padding: 50px 30px;
  cursor: pointer;
}
aside button{
  
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border:none;
  background-color: white;
  transition-duration: 0.3s;
  
}
aside button:hover{
  background-color: #e3f2fd;
  color: black ;
}
.product-title {
  min-height: 48px;
}

.product-img {
  height: 260px;
  object-fit: cover;
}
